/* Сброс стилей для всех элементов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Основные стили для html и body */
body,
html {
  height: 100%;
  /* Установка высоты на 100% экрана */
  font-family: 'Montserrat', sans-serif;
  /* Установка шрифта */
  background-color: #36520A;
  /* Цвет фона */
}

/* Стили для основного контента в main */
main {
  margin-top: 80px;
  /* Учтите высоту header */
  display: flex;
  /* Используем flexbox */
  flex-direction: column;
  /* Располагаем элементы в столбец */
  align-items: center;
  /* Выравнивание по центру по горизонтали */
  justify-content: center;
  /* Выравнивание по центру по вертикали */
  padding: 20px;
  /* Внутренний отступ */
}

/* Стили для блоков (block) */
.block {
  display: flex;
  /* Используем flexbox */
  justify-content: space-between;
  /* Равномерное распределение по горизонтали */
  align-items: flex-start;
  /* Выравнивание элементов по верхнему краю */
  margin-bottom: 40px;
  /* Отступ снизу */
  width: 100%;
  /* Ширина на 100% */
}

/* Стили для изображений в блоке */
.block .image {
  flex: 1;
  /* Занимаем все доступное пространство */
  text-align: center;
  /* Выравнивание текста по центру */
  max-width: 800px;
  /* Максимальная ширина изображения */
  transition: transform 0.3s ease;
  /* Плавное изменение при наведении */
}

/* Стили для текстового блока в блоке */
.block .text {
  flex: 1;
  /* Занимаем все доступное пространство */
  text-align: justify;
  /* Выравнивание текста по ширине */
  margin-left: 30px;
  /* Отступ слева */
  margin-right: 30px;
  /* Отступ справа */
}

/* Стили для изображений внутри блока */
.block img {
  max-width: 100%;
  /* Максимальная ширина изображения */
  height: auto;
  /* Автоматическая высота */
}

/* Эффект увеличения при наведении на изображение */
.block .image:hover {
  transform: scale(1.05);
  /* Увеличение масштаба до 105% */
}

/* Стили для заголовков в блоке */
.block h2 {
  font-size: 28px;
  /* Размер шрифта */
  margin-bottom: 10px;
  /* Отступ снизу */
  color: rgb(230, 230, 230);
  /* Цвет текста */
}

/* Стили для абзацев в блоке */
.block p {
  font-size: 22px;
  /* Размер шрифта */
  color: rgb(230, 230, 230);
  /* Цвет текста */
  font-weight: 200;
  /* Нормальный шрифт */
}