/* Сброс стилей для всех элементов */
* {
    margin: 0;
    /* Убираем внешние отступы */
    padding: 0;
    /* Убираем внутренние отступы */
    box-sizing: border-box;
    /* Используем универсальную модель коробки для всех элементов */
}

/* Основные стили для html и body */
body,
html {
    height: 100%;
    /* Устанавливаем высоту на 100% экрана */
    font-family: 'Montserrat', sans-serif;
    /* Задаем шрифт для всего документа */
    background-color: #36520A;
    /* Устанавливаем цвет фона */
}

/* Дополнительные стили для body */
body {
    padding: 0;
    /* Убираем отступы */
    display: flex;
    /* Используем flexbox для расположения элементов */
    justify-content: flex-start;
    /* Выравнивание содержимого по левому краю */
    align-items: flex-start;
    /* Выравнивание по верхнему краю */
    min-height: 100vh;
    /* Минимальная высота на весь экран */
    overflow: hidden;
    /* Отключаем прокручивание */
    flex-direction: column;
    /* Располагаем элементы в столбец */
}

/* Стили для главной секции */
.main-section {
    margin-top: 30px;
    /* Верхний внешний отступ */
    display: flex;
    /* Используем flexbox */
    align-items: center;
    /* Выравнивание по центру по вертикали */
    justify-content: space-between;
    /* Равномерное распределение по горизонтали */
    padding: 30px;
    /* Внутренний отступ */
    height: 100vh;
    /* Высота на весь экран */
}

/* Стили для формы обратной связи */
.feedback-form {
    padding: 40px;
    /* Внутренний отступ */
    max-width: 380px;
    /* Максимальная ширина */
    width: 100%;
    /* Ширина на 100% */
    margin-right: 50px;
    /* Правый внешний отступ */
    background-color: #4D660F;
    /* Цвет фона */
    border-radius: 5%;
    /* Скругление углов */
}

/* Стили для информационного блока */
.info {
    width: 800px;
    /* Ширина */
    margin-left: 100px;
    /* Левый внешний отступ */
}

.info h1 {
    font-size: 48px;
    /* Размер шрифта */
    margin-bottom: 5px;
    /* Нижний внешний отступ */
    font-weight: bold;
    /* Жирный шрифт */
    color: white;
    /* Цвет текста */
}

.info p {
    font-weight: 200;
    /* Нормальный шрифт */
    font-size: 20px;
    /* Размер шрифта */
    line-height: 0.7;
    /* Межстрочный интервал */
    margin-bottom: 10px;
    /* Нижний внешний отступ */
    color: white;
    /* Цвет текста */
}

.info .small-text {
    font-size: 16px;
    /* Размер шрифта */
    line-height: 1;
    /* Межстрочный интервал */
    margin: 0;
    /* Убираем отступы */
    margin-bottom: 2px;
    /* Нижний внешний отступ */
}

/* Стили для группы форм */
.form-group {
    justify-content: center;
    /* Выравнивание по центру */
}

.centered {
    text-align: center;
    /* Выравнивание текста по центру */
}

.form-group label {
    display: block;
    /* Блочное отображение */
    margin-bottom: 5px;
    /* Нижний внешний отступ */
    color: white;
    /* Цвет текста */
    margin-top: 15px;
    /* Верхний внешний отступ */
}

.form-group p {
    font-weight: bold;
    /* Жирный шрифт */
    color: white;
    /* Цвет текста */
}

.form-group h1 {
    font-weight: bold;
    /* Жирный шрифт */
    color: white;
    /* Цвет текста */
}

.form-group .small-text {
    font-size: 16px;
    /* Размер шрифта */
    line-height: 1;
    /* Межстрочный интервал */
    margin: 0;
    /* Убираем отступы */
    margin-bottom: 2px;
    /* Нижний внешний отступ */
    font-weight: 200;
    /* Нормальный шрифт */
}

/* Стили для ввода текста и текстовой области формы */
.form-group input,
.form-group textarea {
    width: 100%;
    /* Ширина на 100% */
    padding: 5px;
    /* Внутренний отступ */
    border: none;
    /* Без границы */
    background-color: #ffffff;
    /* Цвет фона */
}

/* Стили для кнопки отправки */
.send-button {
    margin-top: 15px;
    /* Верхний внешний отступ */
    display: flex;
    /* Используем flexbox */
    justify-content: center;
    /* Выравнивание по центру */
}

.send-button button {
    background-color: #ffffff;
    /* Цвет фона */
    font-size: 14px;
    /* Размер шрифта */
    color: black;
    /* Цвет текста */
    text-decoration: none;
    /* Без подчеркивания */
    padding: 15px 20px;
    /* Внутренние отступы */
    border-radius: 25px;
    /* Скругление углов */
    font-weight: bold;
    /* Жирный шрифт */
    transition: background-color 0.3s ease;
    /* Плавный переход цвета */
    border: none;
    /* Без границы */
}

.send-button button:hover {
    background-color: #dddddd;
    /* Цвет фона при наведении */
}

/* Стили для уведомления */
.notification {
    display: none;
    /* Скрытое отображение */
    background-color: rgba(38, 46, 27, 0.71);
    /* Цвет фона с прозрачностью */
    color: white;
    /* Цвет текста */
    text-align: center;
    /* Выравнивание текста по центру */
    padding: 10px 20px;
    /* Внутренний отступ */
    border-radius: 5px;
    /* Скругление углов */
    position: fixed;
    /* Фиксированное позиционирование */
    left: 50%;
    /* Положение слева */
    transform: translateX(-50%);
    /* Центрирование по горизонтали */
    font-size: 20px;
    /* Размер шрифта */
}