/* Устанавливаем общие стили для всех элементов */
* {
    margin: 0;
    /* Убираем внешние отступы */
    padding: 0;
    /* Убираем внутренние отступы */
    box-sizing: border-box;
    /* Устанавливаем универсальную модель коробки для всех элементов */
}

/* Устанавливаем общие стили для body и html */
body,
html {
    font-family: 'Montserrat', sans-serif;
    /* Задаем шрифт для всего документа */
    background-color: #36520A;
    /* Устанавливаем цвет фона */
    height: 100%;
    /* Устанавливаем высоту в 100% */
    overflow: hidden;
    /* Убираем скроллинг */
    display: flex;
    /* Используем флексбокс для позиционирования */
    flex-direction: column;
    /* Устанавливаем вертикальное направление для флекс-элементов */
}

/* Стили для основного контента main */
main {
    margin-top: 80px;
    /* Добавляем верхний внешний отступ */
    background-color: #36520A;
    /* Устанавливаем цвет фона */
    display: flex;
    /* Используем флексбокс для позиционирования */
    justify-content: center;
    /* Выравниваем содержимое по центру по горизонтали */
    align-items: center;
    /* Выравниваем содержимое по центру по вертикали */
    flex: 1;
    /* Занимаем оставшееся пространство */
}

/* Стили для блока основного контента */
.main-content {
    text-align: center;
    /* Выравниваем текст по центру */
    color: white;
    /* Устанавливаем цвет текста */
    max-width: 800px;
    /* Устанавливаем максимальную ширину */
    padding: 20px;
    /* Добавляем внутренние отступы */
}

/* Стили для заголовков в блоке основного контента */
.main-content h2 {
    font-size: 22px;
    /* Устанавливаем размер шрифта */
    font-weight: 300;
    /* Устанавливаем толщину шрифта */
}

/* Стили для параграфов в блоке основного контента */
.main-content p {
    font-size: 20px;
    /* Устанавливаем размер шрифта */
}

/* Стили для контейнера колонок */
.columns {
    display: flex;
    /* Используем флексбокс для позиционирования */
    justify-content: space-around;
    /* Равномерное распределение колонок */
    gap: 50px;
    /* Добавляем промежуток между колонками */
    margin-top: 25px;
    /* Добавляем верхний внешний отступ */
    margin-left: -300px;
    /* Сдвигаем все колонки влево */
}

/* Стили для отдельной колонки */
.column {
    text-align: center;
    /* Выравниваем текст по центру */
    flex: 1;
    /* Колонки занимают равное пространство */
    min-width: 300px;
    /* Устанавливаем минимальную ширину колонок */
}

/* Стили для изображений в колонке */
.column img {
    max-height: 300px;
    /* Устанавливаем максимальную высоту изображений */
    border-radius: 10px;
    /* Добавляем скругление углов */
}

/* Стили для текста в колонке */
.columns p {
    margin-top: 5px;
    /* Добавляем верхний внешний отступ */
    font-style: normal;
    /* Устанавливаем нормальный стиль шрифта */
    font-weight: 300;
    /* Устанавливаем толщину шрифта */
    font-size: 18px;
    /* Устанавливаем размер шрифта */
}